# Analyse exploratoire du jeu de données
## Fly me (chatbot)

<img src="./img/logo.png" style="text-align: center;">

Le but du projet est la création d'une MVP qui aidera les employés de Fly Me a réserver facilement un billet d'avion pour leurs vacances grâce a un chatbot qui aidrera les utilisateurs à choisir une offre de voyage.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import json
import os

In [2]:
df = pd.read_json("./data/frames.json")
print("Dimensionnalité : ", df.shape)
df.head()

Dimensionnalité :  (1369, 5)

,user_id,turns,wizard_id,id,labels
0,U22HTHYNP,[{'text': 'I'd like to book a trip to Atlantis...,U21DKG18C,e2c0fc6c-2134-4891-8353-ef16d8412c9a,"{'userSurveyRating': 4.0, 'wizardSurveyTaskSuc..."
1,U21E41CQP,"[{'text': 'Hello, I am looking to book a vacat...",U21DMV0KA,4a3bfa39-2c22-42c8-8694-32b4e34415e9,"{'userSurveyRating': 3.0, 'wizardSurveyTaskSuc..."
2,U21RP4FCY,[{'text': 'Hello there i am looking to go on a...,U21E0179B,6e67ed28-e94c-4fab-96b6-68569a92682f,"{'userSurveyRating': 2.0, 'wizardSurveyTaskSuc..."
3,U22HTHYNP,[{'text': 'Hi I'd like to go to Caprica from B...,U21DKG18C,5ae76e50-5b48-4166-9f6d-67aaabd7bcaa,"{'userSurveyRating': 5.0, 'wizardSurveyTaskSuc..."
4,U21E41CQP,"[{'text': 'Hello, I am looking to book a trip ...",U21DMV0KA,24603086-bb53-431e-a0d8-1dcc63518ba9,"{'userSurveyRating': 5.0, 'wizardSurveyTaskSuc..."

On peux ensuite analyser la colonne labels qui semblent contenir plusieur informations.

In [3]:
df["labels"][0].keys()

dict_keys(['userSurveyRating', 'wizardSurveyTaskSuccessful'])

In [5]:
satisfaction_df = pd.json_normalize(df["labels"])
satisfaction_df.head(2)

   userSurveyRating  wizardSurveyTaskSuccessful
0               4.0                        True
1               3.0                        True

In [6]:
df["userSurveyRating"] = satisfaction_df["userSurveyRating"]
df["wizardSurveyTaskSuccessful"] = satisfaction_df["wizardSurveyTaskSuccessful"]

In [7]:
df.head(2)

,user_id,turns,wizard_id,id,labels,userSurveyRating,wizardSurveyTaskSuccessful
0,U22HTHYNP,[{'text': 'I'd like to book a trip to Atlantis...,U21DKG18C,e2c0fc6c-2134-4891-8353-ef16d8412c9a,"{'userSurveyRating': 4.0, 'wizardSurveyTaskSuc...",4.0,True
1,U21E41CQP,"[{'text': 'Hello, I am looking to book a vacat...",U21DMV0KA,4a3bfa39-2c22-42c8-8694-32b4e34415e9,"{'userSurveyRating': 3.0, 'wizardSurveyTaskSuc...",3.0,True

Ensuite même chose pour la colonne turns qui semblent également avoir toutes les information sur les échanges bot/utilisateurs

In [8]:
turns_serie = df['turns']

In [9]:
turns_list = turns_serie.to_list()

In [10]:
turns_list[0][0].keys()

dict_keys(['text', 'labels', 'author', 'timestamp'])

In [11]:
turns_list[0][0]["text"]

"I'd like to book a trip to Atlantis from Caprica on Saturday, August 13, 2016 for 8 adults. I have a tight budget of 1700."

In [31]:
turns_list[0][1]["text"]

'Hi...I checked a few options for you, and unfortunately, we do not currently have any trips that meet this criteria.  Would you like to book an alternate travel option?'

In [12]:
turns_list[0][0]["labels"]

{'acts': [{'args': [{'val': 'book', 'key': 'intent'}], 'name': 'inform'},
  {'args': [{'val': 'Atlantis', 'key': 'dst_city'},
    {'val': 'Caprica', 'key': 'or_city'},
    {'val': 'Saturday, August 13, 2016', 'key': 'str_date'},
    {'val': '8', 'key': 'n_adults'},
    {'val': '1700', 'key': 'budget'}],
   'name': 'inform'}],
 'acts_without_refs': [{'args': [{'val': 'book', 'key': 'intent'}],
   'name': 'inform'},
  {'args': [{'val': 'Atlantis', 'key': 'dst_city'},
    {'val': 'Caprica', 'key': 'or_city'},
    {'val': 'Saturday, August 13, 2016', 'key': 'str_date'},
    {'val': '8', 'key': 'n_adults'},
    {'val': '1700', 'key': 'budget'}],
   'name': 'inform'}],
 'active_frame': 1,
 'frames': [{'info': {'intent': [{'val': 'book', 'negated': False}],
    'budget': [{'val': '1700.0', 'negated': False}],
    'dst_city': [{'val': 'Atlantis', 'negated': False}],
    'or_city': [{'val': 'Caprica', 'negated': False}],
    'str_date': [{'val': 'august 13', 'negated': False}],
    'n_adults': [{'val': '8', 'negated': False}]},
   'frame_id': 1,
   'requests': [],
   'frame_parent_id': None,
   'binary_questions': [],
   'compare_requests': []}]}

In [13]:
turns_list[0][0]["labels"].keys()

dict_keys(['acts', 'acts_without_refs', 'active_frame', 'frames'])

In [14]:
turns_list[1][0]["author"]

'user'

In [15]:
turns_list[0][0]["timestamp"]

1471272019730.0

In [16]:
dic_author = {}
for turns in turns_list:
    for message in turns:
        author = message["author"]
        if not author in dic_author.keys():
            dic_author[author] = 1
        else:
            dic_author[author] += 1

In [17]:
dic_author

{'user': 10407, 'wizard': 9579}